#buttons {
  text-align: center;
  padding-bottom: 10px;
}

button {
  font-size: 18px;
  background-color: rgb(163, 163, 163);
  border-radius: 5px;
}

.container {
    max-width: 600px;
    max-height: 600px;
    background-color: #f1f0ef;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin: 0 auto;
    font-family: "Helvetica", sans-serif;
  }
  
  .container .box {
    border-style: solid;
    border-color: rgb(143, 143, 143);
    color: rgb(107, 107, 107);
    min-width: 200px;
    min-height: 200px;
    background-color: #82caca;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    font-size: 80px;
  }
  
  .container #um {
    grid-area: 1 / 2 / span 1 / span 1;
  }
  
  .container #ur {
    grid-area: 1 / 3 / span 1 / span 1;
  }
  
  .container #ml {
    grid-area: 2 / 1 / span 1 / span 1;
  }
  
  .container #mm {
    grid-area: 2 / 2 / span 1 / span 1;
  }
  
  .container #mr {
    grid-area: 2 / 3 / span 1 / span 1;
  }
  
  .container #ll {
    grid-area: 3 / 1 / span 1 / span 1;
  }
  
  .container #lm {
    grid-area: 3 / 2 / span 1 / span 1;
  }
  
  .container #lr {
    grid-area: 3 / 3 / span 1 / span 1;
  }
  